._homepage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    background-image: url(./brick-wall-dark.png) !important;
    background-color: black !important;
    flex-direction: column;
    justify-content: center;
}

@font-face {
    font-family: NeonFont;
    src: url(./Clip.woff2);
}
@media only screen and (max-width: 1300px) {
    ._homepage {
        padding-top: 90px;
       margin-bottom: auto;
    }
}

._loader_box {
    
    text-align: center;
}
/* Copied */
._loader_sign {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* background-image: radial-gradient(ellipse 50% 35% at 50% 50%,
            #6b1839,
            transparent); */
    /* transform: translate(-50%, -50%); */
    letter-spacing: 2;
    font-family: NeonFont;
    text-transform: uppercase;
    font-size: 150px;
    color: #ffe6ff;
    color: #6b1839;
    /* text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff2483, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483; */
    /* animation: box-anime-start 2s; */
    animation: shine 2s forwards 3s, flicker 3s infinite 3s, box-anime-start 2s;
    padding: 50px;
    box-shadow:
        0 0 0.1vw 0.4vw #ffe6ff,
        0 0 0.4vw 0.6vw #4380ca,
        0 0 4vw 0.4vw #005ECE,
        inset 0 0 1.5vw 0.4vw #005ECE,
        inset 0 0 0.4vw 0.2vw #4380ca,
        inset 0 0 0.5vw 0.2vw #ffe6ff;
    border-radius: 1.5rem;
}

@media only screen and (max-width: 940px) {
    ._loader_sign {
        font-size: 100px;
    }
}

@media only screen and (max-width: 650px) {
    ._loader_sign {
        font-size: 60px;
        /* margin-bottom: 50px !important; */
    }
}

@media only screen and (max-width: 420px) {
    ._loader_sign {
        font-size: 50px;
        padding: 20px;
        margin-bottom: 100px;
    }

}

/* Tubelight flickering effect for characters at start B,21,C */
.flickerStart {
    animation: abacus-anime-start 1s 2s;
}

.flickerStart2 {
    animation: abacus-anime-start 1s 2.5s;
}

.flickerStart3 {
    animation: abacus-anime-start 1s 3s;
}




.flicker {
    animation: shine 2s forwards 3s, blink 3s 3s infinite;
}

.flicker2 {
    animation: shine 2s forwards 3.4s, blink 3s 3.4s infinite;
}

.flicker3 {
    animation: shine 2s forwards 3.7s, blink 3s 3.7s infinite;
}

/* Box flicker animation */

@keyframes box-anime {

    0%,
    20% {
        box-shadow: none;
    }

    10%,
    40%,
    100% {
        box-shadow:
            0 0 0.1vw 0.4vw #ffe6ff,
            0 0 0.4vw 0.6vw #4380ca,
            0 0 4vw 0.4vw #005ECE,
            inset 0 0 1.5vw 0.4vw #005ECE,
            inset 0 0 0.4vw 0.2vw #4380ca,
            inset 0 0 0.5vw 0.2vw #ffe6ff;
    }
}

@keyframes blink {

    0%,
    22%,
    36%,
    75% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
            -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
            0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }

    28%,
    33% {
        color: #ff65bd;
        text-shadow: none;
    }

    82%,
    97% {
        color: #ff2483;
        text-shadow: none;
    }
}



/* A and CU blinking*/
@keyframes shine {
    0% {
        color: #6b1839;
        text-shadow: none;
    }

    100% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
            -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
            0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
}

@keyframes flicker {
    from {
        opacity: 1;
    }

    4% {
        opacity: 0.9;
    }

    6% {
        opacity: 0.85;
    }

    8% {
        opacity: 0.95;
    }

    10% {
        opacity: 0.9;
    }

    11% {
        opacity: 0.922;
    }

    12% {
        opacity: 0.9;
    }

    14% {
        opacity: 0.95;
    }

    16% {
        opacity: 0.98;
    }

    17% {
        opacity: 0.9;
    }

    19% {
        opacity: 0.93;
    }

    20% {
        opacity: 0.99;
    }

    24% {
        opacity: 1;
    }

    26% {
        opacity: 0.94;
    }

    28% {
        opacity: 0.98;
    }

    37% {
        opacity: 0.93;
    }

    38% {
        opacity: 0.5;
    }

    39% {
        opacity: 0.96;
    }

    42% {
        opacity: 1;
    }

    44% {
        opacity: 0.97;
    }

    46% {
        opacity: 0.94;
    }

    56% {
        opacity: 0.9;
    }

    58% {
        opacity: 0.9;
    }

    60% {
        opacity: 0.99;
    }

    68% {
        opacity: 1;
    }

    70% {
        opacity: 0.9;
    }

    72% {
        opacity: 0.95;
    }

    93% {
        opacity: 0.93;
    }

    95% {
        opacity: 0.95;
    }

    97% {
        opacity: 0.93;
    }

    to {
        opacity: 1;
    }
}


@keyframes box-anime-start {
    0% {
        box-shadow: none;
    }

    100% {
        box-shadow:
            0 0 0.1vw 0.4vw #ffe6ff,
            0 0 0.4vw 0.6vw #4380ca,
            0 0 4vw 0.4vw #005ECE,
            inset 0 0 1.5vw 0.4vw #005ECE,
            inset 0 0 0.4vw 0.2vw #4380ca,
            inset 0 0 0.5vw 0.2vw #ffe6ff;
    }
}

@keyframes abacus-anime-start {
    /* 0% {
        color: #6b1839;
        text-shadow: none;
    }

    100% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
            -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
            0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    } */

    0%,
    22%,
    36%,
    75% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
            -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
            0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }

    28%,
    33% {
        color: #ff65bd;
        text-shadow: none;
    }

    82%,
    97% {
        color: #ff2483;
        text-shadow: none;
    }
}

/* ._loader_arrow {
    position: absolute !important;
} */

.date {
    color: white !important;
    font-size: 20px !important;
}