/* Arrow */
/* .arrow {
    width: 50px;
    color: white;
    background-color: white;
    position: absolute;
    bottom: 20px;
} */

@keyframes arrow {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(20%);
    }

    100% {
        transform: translateY(0%);
    }
}


.fa-angle-double-down {
    margin-top: 50px;
    color: white;
    font-size: 80px;
    animation: 1s arrow infinite;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
}

.fa-angle-double-down:hover {
    cursor: pointer;
    animation: none;
}