.bg {
    background-color:#060c21;
    background-image:url('../../assets/Images/Asset\ 5event.svg');
    background-repeat:no-repeat;
    background-size:cover
}

@media only screen and (max-width:1025px){
    .bg{
        background-color:#060c21;
        background-image:url('../../assets/Images/asset_pattern_16\ 9.svg');
        background-repeat:no-repeat;
        background-size:cover
    }
}

.google_form_data_form_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.google_form_data_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 50px;
}

.google_form_data_form_container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    margin: 20px;
}

.google_form_data_input_field {
    background-color: #fff;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 70%;
    font-family: 'MainFont', cursive !important;
    height: 50px;
    font-size: 20px;
    color: #232323;
    border-radius: 10px;
    margin: 10px;
}

.google_form_data_input_field1 {
    background-color: #fff;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 70%;
    font-family: 'MainFont', cursive !important;
    height: 50px;
    font-size: 20px;
    color: #232323;
    border-radius: 10px;
    margin: 0px;
}

.google_form_data_validation_output{
    font-family: 'MainFont', cursive;
    font-size: 18px;
    color: red;
    letter-spacing: 0.5px; 
    margin-bottom: 1px;
}

@media only screen and (min-width: 1100px) {
    .google_form_data_input_field {
        background-color: #fff;
        border: none;
        padding: 12px 15px;
        margin: 8px 0;
        width: 30%;
        font-family: 'MainFont', cursive !important;
        height: 50px;
        font-size: 20px;
        color: #232323;
        border-radius: 10px;
        margin: 20px;
    }

    .google_form_data_input_field1 {
        background-color: #fff;
        border: none;
        padding: 12px 15px;
        margin: 8px 0;
        width: 30%;
        font-family: 'MainFont', cursive !important;
        height: 50px;
        font-size: 20px;
        color: #232323;
        border-radius: 10px;
        margin: 0px;
    }
}