/* .google_form_data_form_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    scroll-snap-align: start;
} */

.google_form_data_form_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 100vh;
}

@media only screen and (max-width: 1100px) {
    .google_form_data_form_wrapper {
        min-height: fit-content !important;
    }
}

.google_form_data_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.google_form_data_form_container {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.google_form_data_input_field {
    background-color: #000;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    font-family: 'MainFont', cursive !important;
    height: 50px;
    font-size: 20px;
    color: #fff;
    border-radius: 20px;
}

.google_form_data_validation_output{
    font-family: 'MainFont', cursive;
    font-size: 18px;
    color: #fff;
    letter-spacing: 0.5px;
}