._navbar {
    display: flex;
    background-color: transparent;
    background: none;
    position: fixed;
    width: 100vw;
    top: 0;
    margin: 15px;
    margin-top: 15px;
    z-index: 600;
}

._navbar *{
    z-index: 600;
}
@media only screen and (max-width: 1100px) {
    ._navbar {
        padding-bottom: 50px;
      
    }
}
@media only screen and (min-width:1101) and (max-width: 1300px) {
    ._navbar {
        padding-bottom: 20px;
    }}
._navbar_brand {
    margin: 10px;
    text-transform: uppercase;
}

._navbar_brand_link {
    text-decoration: none;
    font-family: NavbarMain;
    letter-spacing: 5px;
    font-size: 25px;
}

._navbar_brand_link:hover {
    text-decoration: none;
}


._navbar_main {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
}

._navbar_main_link {
    margin: 10px;
    margin-right: 50px;
    text-transform: uppercase;
    color: grey;
    font-family: NavbarMain;
    letter-spacing: 5px;
    text-decoration: none;
    font-size: 18px;
}

/* Hover Effect */

._navbar_main_link {
    position: relative;
    text-decoration: none;
}

._navbar_main_link:before,
._navbar_main_link:after {
    position: absolute;
    opacity: 0;
    font-size: 20px;
    top:-2px;
    transition: all 0.3s;
}

._navbar_main_link:before {
    content: '<';
    color: honeydew;
    left: -12px;
    transform: translateX(20px);
}

._navbar_main_link:after {
    content: '/>';
    color: honeydew;
    right: -23px;
    transform: translateX(-20px);
}

._navbar_main_link:hover:before,
._navbar_main_link:hover:after {
    opacity: 1;
    transform: translateX(0px);
    
}

._navbar_main_link:hover {
    /* text-shadow: -1px -1px 0, 1px -1px 0, -1px 1px 0, 1px 1px 0, 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000; */
    color: #ff2483;
    text-decoration: none;
}
