._dashboard_wrapper {
    /* min-height: 100vh !important;
    height: 100vh; */
    min-height: 100vh!important;
    display: flex;
    justify-content: center;
    align-items: center;
}

._dashboard_container {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin-top: 50px !important;
}

.registrationDetails_wrapper {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.profile_wrapper {
    display: flex;
    flex-basis: 30%;
}

.data_display_div {
    display: flex;
    flex-direction: column;
}

._homepage {
    min-height: 100vh !important;
    width: 100% !important;
    display: flex;
    align-items: center !important;
    justify-content: center;
    scroll-snap-align: start;
}

@media only screen and (max-width: 1100px) {
    ._dashboard_container {
        height: fit-content;
        scroll-snap-align: none;
        flex-direction: column;
        min-height: fit-content !important;
        padding-top: 50px;
        margin-top: 0px !important;
    }

    .registrationDetails_wrapper {
        padding-top: 50px;
    }

    .data_display_div {
        text-align: center;
    }
}

._rulesDivContainer {
    display: flex;
    justify-content: space-evenly !important;
    align-items: center;
    flex-direction: column !important;
    width: 100%;
}

._rulesDiv {
    flex-basis: 100% !important;
    align-items: center;
    justify-content: space-evenly;
    scroll-snap-align: start;
    flex-direction: row;
}