._dashboard_wrapper {
    min-height: 100vh !important;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    scroll-snap-align: start;
    flex-direction: row;
}

._dashboard_display_template{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
}

.profile_wrapper {
    display: flex;
    flex-basis: 40%;
}