/* Code for scroll snapping - Child */
/* ._homepage {
    min-height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
} */

._homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 100vh;
}

@media only screen and (max-width: 1100px) {
    ._homepage {
        min-height: max-content !important;
    }
}

._homepage_container {
    font-size: 50px;
}

.countup {
    display: block;
    font-size: large;
    font-weight: bolder;
    padding: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.bg {
    background-color: #060c21;
    background-image: url('../../assets/Images/Asset\ 5event.svg');
    background-repeat: no-repeat;
    background-size: cover
}

.bg1 {
    background-color: #060c21;
    background-image: url('../../assets/Images/Asset\ 5event_variation.svg');
    background-repeat: no-repeat;
    background-size: cover
}

@media only screen and (min-width:850px) and (max-width: 1290px) {
    ._homepage {
        padding-top: 100px;
        margin-bottom: auto;
    }
}

@media only screen and (min-width:1291) and (max-width: 1300px) {
    ._homepage {
        padding-top: 50px;
        margin-bottom: auto;
    }
}

._responsive {
    flex: 3;
    flex-wrap: wrap;
    align-items: center;
}

@media only screen and (max-width:1025px) {
    .bg {
        background-color: #060c21;
        background-image: url('../../assets/Images/asset_pattern_16\ 9.svg');
        background-repeat: no-repeat;
        background-size: cover
    }

    .bg1 {
        background-color: #060c21;
        background-image: url('../../assets/Images/asset_pattern_16\ 9_variation.svg');
        background-repeat: no-repeat;
        background-size: cover
    }

}