.register_form_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    margin: 70px;
}

.register_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.register_form_container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

.register_input_field {
    background-color: #000;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 70%;
    height: 50px;
    font-family: 'MainFont', cursive !important;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;
    margin: 10px;
}

.register_validation_output{
    font-family: 'MainFont', cursive;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0.5px;
}

.google_button {
    margin: 20px 0px;
}