.paymentWrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
    font-family: Iceland;
    overflow-x: hidden;
}

@media only screen and (max-width: 1100px) {
    .detailsWrapper {
        flex-direction: column !important;
    }

    .buttonDiv {
        display: flex;
        flex-direction: column !important;
        width: 100% !important;
    }

    .userDetails {
        word-wrap: break-word !important;
    }

    .userDetailsTextBreak {
        word-break: break-all !important;
    }

    .icon {
        color: #8E32FF !important;
        margin-right: 10px;
        font-size: 20px !important;
    }

    .userDetailsText {
        color: white;
        font-size: 21px;
        margin: 10px 0px;
    }

    .paymentDetailsTitle {
        font-size: 25px;
        color: #8E32FF;
    }
}

@media only screen and (max-width: 1100px) {
    .paymentWrapper {
        padding-top: 50vh;
    }

    .headingWrapper {}
}

@media only screen and (max-width: 540px) {
    .paymentWrapper {
        padding-top: 75vh;
    }
}

@media only screen and (max-width: 331px) {
    .paymentWrapper {
        padding-top: 85vh;
    }
}




.buttonDiv {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.detailsWrapper {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.userDetails {
    flex-basis: 50%;
    text-align: center;
}

.paymentDetails {
    text-align: center;
}

.icon {
    color: #8E32FF !important;
    margin-right: 10px;
    font-size: 25px !important;
}

.userDetailsText {
    color: white;
    font-size: 24px;
    margin: 10px 0px;
}

.paymentDetailsTitle {
    font-size: 28px;
    color: #8E32FF;
}

.noteWrapper {
    color: white;
    font-size: 20px;
}

.noteWrapper span {
    color: #8E32FF !important;
}