/* Code for scroll snapping - Child */
._homepage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

@media only screen and (max-width: 576px) {
    ._homepage {
        height: fit-content;
        scroll-snap-stop: always;
    }
}


._homepage_container {}