/* Code for scroll snapping - Child */
._homepage {
    min-height: 100vh !important;
    display: flex;
    align-items: center !important;
    justify-content: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

@media only screen and (max-width: 1100px) {
    ._homepage {
        height: fit-content;
        scroll-snap-align: none;
    }

}
.bg{
    background-color:#060c21;
    background-image:url('../../assets/Images/Asset\ 5event.svg');
    background-repeat:no-repeat;
    background-size:cover
}
.bg1{
    background-color:#060c21;
    background-image:url('../../assets/Images/Asset\ 5event_variation.svg');
    background-repeat:no-repeat;
    background-size:cover
}
/* About Event */
._about_event {
    display: flex;
    justify-content: space-evenly !important;
    align-items: center;
    flex-direction: row;
}

._glowCardDiv {
    flex-basis: 27% !important;
}

._eventCardImgDiv {
    /* flex-basis: 60% !important; */
    align-items: center;
    text-align: center;
}

.eventCardImg {
    height: 85vh;
}

@media only screen and (max-width: 1100px) {
    ._about_event {
        /* flex-direction: column; */
        align-items: center;
        margin-top: 40px;
        flex-wrap: wrap;
    }

    .eventCardImg {
        width: 350px;
        height: 350px;
    }

    ._glowCardDiv {
        /* width: 80%; */
        flex-basis: 80% !important;
        order: 2 !important;
        margin-top: 30px;
    }

    ._eventCardImgDiv {
        order: 1 !important;
        flex-basis: 100%;
    }

    ._sponsorMargin{
        padding-top: 30px;
    }
    
}

@media only screen and (max-width: 700px) {
    .eventCardImg {
        width: 250px;
        height: 250px;
    }
}

._child {
    flex-basis: 50%;
    margin: 20px 20px;
}

/* Rules */

._rulesDivContainer {
    display: flex;
    justify-content: space-evenly !important;
    align-items: center ;
    flex-direction: column !important;
    width: 100%;
}

._rulesDiv {
    width: 100% !important;
    flex-basis: 100% !important;
}
._rulesDivContainer1 {
    display: flex;
    justify-content: space-evenly !important;
    align-items: center ;
    flex-direction: column !important;
    width: 100%;
}

._rulesDiv1 {
    width: 85% !important;
    flex-basis: 85% !important;
}
@media only screen and (max-width:1025px){
    .bg{
        background-color:#060c21;
        background-image:url('../../assets/Images/asset_pattern_16\ 9.svg');
        background-repeat:no-repeat;
        background-size:cover
    }
    .bg1{
        background-color:#060c21;
        background-image:url('../../assets/Images/asset_pattern_16\ 9_variation.svg');
        background-repeat:no-repeat;
        background-size:cover
    }

}
  

._paymentText {
    font-family: Iceland;
    font-size: 30px;
    color: white;
}



/* Pattern styles */
/* .eventCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 88vh;
    margin-top: 6%;
}

.eventContainer {
    display: flex;
    height: 88vh;
}

.event_left_half {
    flex: 1;
    padding: 1rem;
    height: 88vh;
}
  
.event_right_half {
    align-items: center;
    flex: 1;
    padding: 1rem;
    height: 88vh;
}

.eventCardImg {
    min-height: 88vh;
    min-width: 88vh;
} */