._footer_container {
    scroll-snap-align: start;
    text-align: center;
}

@media only screen and (max-width: 1100px) {
    ._footer_container {
        height: fit-content;
        scroll-snap-align: none;
    }
}