/* .Login-Register-App {
    background-color: #282c34;
    height: 100vh;
    scroll-snap-align: start;
} */

.Login-Register-App {
    background-color: #282c34;
    position: relative;
    width: 100%;
    min-height: 100vh;
}

@media only screen and (max-width: 1100px) {
    .Login-Register-App {
        min-height: fit-content !important;
    }
}

.login-register-heading {
    font-family: 'MainFont', cursive !important;
}