@font-face {
  font-family: NavbarMain;
  src: url(./assets/Fonts/screaming_neon.ttf);
}

@font-face {
  font-family: "MainFont";
  src: url("./assets/Fonts/Iceland-Regular.ttf");
}

/* Code for scroll snapping - Parent */
.App {
  scroll-snap-type: y mandatory;
  overflow: auto;
  height: 100vh;
  overflow-x: hidden;
  /* background-color: black; */
}

@media only screen and (max-width: 1100px) {
  .App {
    scroll-snap-type: none;
  }
}