@font-face {
  font-family: NavbarMain;
  src: url(./assets/Fonts/screaming_neon.ttf);
}

/* Code for scroll snapping - Parent */
.App {
  scroll-snap-type: y mandatory;
  overflow: auto;
  height: 100vh;
}

@media only screen and (max-width: 576px) {
  .App {
    scroll-snap-type: y proximity;
  }
}