/* Code for scroll snapping - Child */
._homepage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

._homepage_container {
    font-size: 50px;
}
.countup{
    display: block;
    font-size: large;
    font-weight: bolder;
    padding: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
@media only screen and (min-width:850px) and (max-width: 1290px) {
    ._homepage {
        padding-top: 100px;
       margin-bottom: auto;
    }
}
@media only screen and (min-width:1291) and (max-width: 1300px) {
    ._homepage {
        padding-top: 50px;
       margin-bottom: auto;
    }
}