.parent {
    overflow: scroll;
    height: 100vh;
    width: 100vw;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    font-size: 100px;

}

.child1 {
    background-color: aquamarine;
}

.child2 {
    background-color: blue;
}

.child3 {
    background-color: cornflowerblue;
}

.child4 {
    background-color: darkgoldenrod;
}