.parent {
    background-color: #000024;
    /* overflow: scroll; */
    height: 100vh;
    width: 100vw;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    overflow-y: scroll;
    /* position: absolute;
    top: 0;
    left: 0; */
}

.child1 {
    background: rgb(0, 0, 36);
    background: linear-gradient(151deg, rgba(0, 0, 36, 1) 0%, rgba(0, 0, 36, 1) 100%);


}

.child2 {
    background-color: #000328;

}

.child3 {
    background-color: #01032e;
}



section {
    height: 100vh;
    scroll-snap-align: start;
    font-size: 100px;
}