/* Code for scroll snapping - Child */
._homepage {
    min-height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    }

._homepage_container {
    font-size: 50px;
}

._responsive {
        flex: 3;
        flex-wrap: wrap;
        align-items: center;
    }
.dis{
    padding-top:180px;
    display: inline-flex;
    flex: 3;
    flex-wrap: wrap;
    
}
.bg{
    background-color:#060c21;
    background-image:url('../../assets/Images/Asset\ 5event.svg');
    background-repeat:no-repeat;
    background-size:cover
}
.bg1{
    background-color:#060c21;
    background-image:url('../../assets/Images/Asset\ 5event_variation.svg');
    background-repeat:no-repeat;
    background-size:cover
}


@media only screen and (min-width:850px) and (max-width: 1290px) {
    ._homepage {
        padding-top: 100px;
       margin-bottom: auto;
    }
}
@media only screen and (max-width: 540px) {
    .title{
        margin-left: auto;
    }
}
@media only screen and (min-width:1291) and (max-width: 1300px) {
    ._homepage {
        padding-top: 50px;
       margin-bottom: auto;
    }}
    .countup{
   
        font-size:50px;
        font-family: NavbarMain;      
       animation: flicker 3s infinite;
        color:white;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
    @keyframes flicker {
        from {
            opacity: 1;
        }
    
        4% {
            opacity: 0.9;
        }
    
        6% {
            opacity: 0.85;
        }
    
        8% {
            opacity: 0.95;
        }
    
        10% {
            opacity: 0.9;
        }
    
        11% {
            opacity: 0.922;
        }
    
        12% {
            opacity: 0.9;
        }
    
        14% {
            opacity: 0.95;
        }
    
        16% {
            opacity: 0.98;
        }
    
        17% {
            opacity: 0.9;
        }
    
        19% {
            opacity: 0.93;
        }
    
        20% {
            opacity: 0.99;
        }
    
        24% {
            opacity: 1;
        }
    
        26% {
            opacity: 0.94;
        }
    
        28% {
            opacity: 0.98;
        }
    
        37% {
            opacity: 0.93;
        }
    
        38% {
            opacity: 0.5;
        }
    
        39% {
            opacity: 0.96;
        }
    
        42% {
            opacity: 1;
        }
    
        44% {
            opacity: 0.97;
        }
    
        46% {
            opacity: 0.94;
        }
    
        56% {
            opacity: 0.9;
        }
    
        58% {
            opacity: 0.9;
        }
    
        60% {
            opacity: 0.99;
        }
    
        68% {
            opacity: 1;
        }
    
        70% {
            opacity: 0.9;
        }
    
        72% {
            opacity: 0.95;
        }
    
        93% {
            opacity: 0.93;
        }
    
        95% {
            opacity: 0.95;
        }
    
        97% {
            opacity: 0.93;
        }
    
        to {
            opacity: 1;
        }
    }
    .text{
      
        font-family: NavbarMain;
        letter-spacing: 5px;
        text-align: center;
        font-size: 18px;
        color:#8E32FF;
        padding-top: 30px;

    }
    .text1{
        
        font-family: NavbarMain;
        letter-spacing: 5px;
        text-align: center;
        font-size: 15px;
        color:#26a0da;
       
    }
    
     
    @media only screen and (max-width:1025px){
        .bg{
            background-color:#060c21;
            background-image:url('../../assets/Images/asset_pattern_16\ 9.svg');
            background-repeat:no-repeat;
            background-size:cover
        }
        .bg1{
            background-color:#060c21;
            background-image:url('../../assets/Images/asset_pattern_16\ 9_variation.svg');
            background-repeat:no-repeat;
            background-size:cover
        }

    }
    .img{
        width:300px;
        height:350px;
    }
    ._rulesDiv {
        font-size: x-small;
        width: 50% !important;
        flex-basis: 50% !important;
    }
    ._rulesDivContainer1 {
        display: flex;
        justify-content: space-evenly !important;
        align-items: center ;
        flex-direction: column !important;
        width: 70%;
    }
    

    ._about_event {
        display: flex;
        justify-content: space-evenly !important;
        align-items: center;
        flex-direction: row;
    }
    
    ._glowCardDiv {
        flex-basis: 55% !important;
    }
    
    ._eventCardImgDiv {
        /* display: flex; */
        flex-basis: 45% !important;
        align-items: center !important;
        text-align: center;
        /* justify-content: center;  */
        width: 100%;
    }
    
    .eventCardImg {
        /* margin-top: 160px; */
        height: 85vh;
        display: flex;
        flex-basis: 45% !important;
        align-items: center !important;
        text-align: center;
        justify-content: center; 
        width: 100%;

    }
    
    @media only screen and (max-width: 1100px) {
        ._about_event {
            /* flex-direction: column; */
            align-items: center;
            margin-top: 40px;
            flex-wrap: wrap;
        }
    
        .eventCardImg {
            width: 550px;
            height: 450px;
        }
    
        ._glowCardDiv {
            /* width: 80%; */
            flex-basis: 100% !important;
            order: 2 !important;
        }
    
        ._eventCardImgDiv {
            order: 1 !important;
            flex-basis: 100%;
        }
    
        ._sponsorMargin{
            padding-top: 30px;
        }
        
    }
    @media only screen and (min-width:1200px) {
        .eventCardImg{
            margin-right:35px;
            
                }
                


    }
    @media only screen and (max-width:1200px){
        .dis{
            
          align-items: center;
        } 

    }
    @media only screen and (max-width: 768px) {
        .eventCardImg {
            width: 340px;
            height: 250px;
        }
        ._glowCardDiv {
            /* width: 80%; */
            flex-basis: 100% !important;
            order: 2 !important;
        }
    
        ._eventCardImgDiv {
            order: 1 !important;
            flex-basis: 100%;
        }
    }
   
   

      